// 기본 셋팅
$body-base-font: 'NotoSansKR', 'Gotham', 'Nexa', arial, sans-serif, Arial, dotum, '돋움';
$body-font-color: #000;
$base-font-size: 22px;
$line-height: 1.5;

// base color
// black
$black_10: #333;
$black_20: #282828;

// Gray
$gray_10: #666;
$gray_20: #888;
$gray_30: #999;
$gray_40: #d4d4d4;
$gray_50: #b8b8b8;
$gray_60: #dedede;

// White
$white: #fff;

// green
$green_10: #d7dba4;
$green_20: #a0a473;

// 미디어쿼리 사이즈
$tb-l: 1320px;
$tb-s: 1100px;
$tb-xs: 920px;
$mo-l: 720px;
$mo-s: 420px;

// 이미지 url
$baseUrl: '../images/';
