// 기본 셋팅
$body-base-font: 'NotoSansKR', 'Spoqa Han Sans Neo', 'Gotham', 'Nexa', arial, sans-serif, Arial, dotum, '돋움';
$body-font-color: #000;
$base-font-size: 22px;
$line-height: 1.5;

// base color
// Gray
$gray_10: #666;
$gray_20: #888;
$gray_30: #999;

// Blue
$blue_10: #0062a7; // point color
$blue_20: #024473; // primary

// Red
$red_10: #ffcece;

// White
$white: #fff;

// point color
$blue: #a0afc1;

// 미디어쿼리 사이즈
$tb-l: 1320px;
$tb-s: 1100px;
$tb-xs: 920px;
$mo-l: 720px;
$mo-s: 400px;

// 이미지 url
$baseUrl: '../images/';
