@charset "UTF-8";
@font-face { font-family: 'Spoqa Han Sans Neo'; font-style: normal; font-weight: 400; src: url("../fonts/Spoqa Han Sans Neo Regular.otf") format("opentype"), url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"), url("../fonts/Spoqa Han Sans Neo Regular.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Regular.eot") format("eot"); }

@font-face { font-family: 'Spoqa Han Sans Neo'; font-style: normal; font-weight: 700; src: url("../fonts/Spoqa Han Sans Neo Bold.otf") format("opentype"), url("./fonts/SpoqaHanSansNeo-Bold.woff") format("woff"), url("../fonts/Spoqa Han Sans Neo Bold.woff2") format("woff2"), url("./fonts/SpoqaHanSansNeo-Bold.eot") format("eot"); }

@font-face { font-family: 'NotoSansKR'; font-style: light; font-weight: 300; src: url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.eot") format("eot"); }

@font-face { font-family: 'NotoSansKR'; font-style: normal; font-weight: 400; src: url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.eot") format("eot"); }

@font-face { font-family: 'NotoSansKR'; font-style: medium; font-weight: 500; src: url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.eot") format("eot"); }

@font-face { font-family: 'NotoSansKR'; font-style: bold; font-weight: 700; src: url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.eot") format("eot"); }

@font-face { font-family: 'Gotham'; font-style: light; font-weight: 300; src: url("../fonts/GothamLight.ttf") format("truetype"); }

@font-face { font-family: 'Gotham'; font-style: medium; font-weight: 500; src: url("../fonts/GothamMedium.ttf") format("truetype"); }

@font-face { font-family: 'Gotham'; font-style: bold; font-weight: 700; src: url("../fonts/GothamBold.ttf") format("truetype"); }

@font-face { font-family: 'Nexa'; font-style: light; font-weight: 300; src: url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.eot") format("eot"); }

@font-face { font-family: 'Nexa'; font-style: bold; font-weight: 700; src: url("./fonts/NexaBold.woff") format("woff"), url("./fonts/NexaBold.eot") format("eot"); }

/* reset */
/* rem 설정을 위한 폰트 */
html { font-size: 22px; }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, pre { -webkit-text-size-adjust: none; letter-spacing: -0.03em; line-height: 1.5; font-weight: 400; color: #000; font-family: "NotoSansKR", "Gotham", "Nexa", arial, sans-serif, Arial, dotum, "돋움"; font-size: 22px; outline: none; }

/*-webkit-text-size-adjust: none(글자크기 자동조정 방지) , auto (화면의 폭에 맞추어서 텍스트의 크기를 자동으로 조절 , 100%(폰트크기를 지정된사이즈로 변경);*/
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, table, tr, td, dl, dt, dd, a, img, input, button, select, textarea { margin: 0px; padding: 0px; list-style: none; }

input { -webkit-border-radius: 0; }

address, cite, dfn, em, var { font-style: normal; }

code, kbd, samp { font-family: dotum, '돋움', courier new, courier, monospace; }

header, hgroup, article, nav, footer, figure, figcaption, canvas, section, main, menu { display: block; margin: 0; padding: 0; }

/* 모바일에서 꾹 눌렀을때 텍스트 복사 막기 */
body, div, p, ul, li, input, h1, h2, h3, h4, h5, h6, dl, dt, dd, a, select, textarea { -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; color: #000; }

img, fieldset, iframe { border: 0 none; }

fieldset { width: auto; min-width: 0; max-width: none; border: 0; margin: 0; padding: 0; }

legend { position: absolute !important; display: block; width: 0 !important; height: 0 !important; padding: 0 !important; margin: -1px !important; border: 0 !important; overflow: hidden !important; clip: rect(0 0 0 0) !important; }

legend.focusable:active, legend.focusable:focus { position: static; height: auto; width: auto; margin: 0; clip: auto; overflow: visible; }

img { border: 0px; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

caption { display: none; }

button { cursor: pointer; border: 0; background-color: transparent; }

button:focus { outline: none; }

/* reset */
body.scroll-disable { overflow: hidden; }

#container { overflow: hidden; background-color: #fff; }

#pagelayout { min-width: 375px; }

/*--- common ---*/
.title-menu { height: 300px; display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: -110px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transform: translateY(-20%); transform: translateY(-20%); -webkit-transition-duration: 1s; transition-duration: 1s; opacity: 0; }

@media (max-width: 1100px) { .title-menu { height: 200px; } }

@media (max-width: 720px) { .title-menu { height: 100px; font-size: 2.72727rem; margin-left: -50px; } }

@media (max-width: 420px) { .title-menu { font-size: 2.18182rem; } }

.title-menu.fill { -webkit-transform: translateY(0); transform: translateY(0); -webkit-transition-duration: 1s; transition-duration: 1s; opacity: 1; }

.title-menu .section-number { font-size: 9.09091rem; color: #999; font-family: 'Gotham'; font-weight: 700; letter-spacing: -15px; }

@media (max-width: 1100px) { .title-menu .section-number { font-size: 8.18182rem; } }

@media (max-width: 720px) { .title-menu .section-number { font-size: 7.27273rem; } }

.title-menu .sc-title { font-size: 2.18182rem; font-family: 'Gotham'; margin-left: -24px; letter-spacing: -2px; }

@media (max-width: 1100px) { .title-menu .sc-title { font-size: 1.63636rem; } }

.ft-bold { font-size: 0.77273rem; font-weight: 600; color: #000; }

@media (max-width: 720px) { .ft-bold { font-size: 0.68182rem; } }

/*--- mainVisual ---*/
.main-visual-contents .gnb-wrap { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; position: fixed; z-index: 2; -webkit-transform: translate(-50%, 20px); transform: translate(-50%, 20px); -webkit-transition: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); transition: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1); left: 50%; width: 60px; height: 60px; border-radius: 50px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; background-color: rgba(0, 0, 0, 0.6); }

@media (max-width: 920px) { .main-visual-contents .gnb-wrap { height: 48px; } }

.main-visual-contents .gnb-wrap .list-menu { -webkit-transform: translateY(80%); transform: translateY(80%); opacity: 0; line-height: 1; }

.main-visual-contents .gnb-wrap .list-menu .link-menu { color: #fff; opacity: 0.5; font-size: 0.81818rem; }

@media (max-width: 920px) { .main-visual-contents .gnb-wrap .list-menu .link-menu { font-size: 0.72727rem; } }

@media (max-width: 720px) { .main-visual-contents .gnb-wrap .list-menu .link-menu { font-size: 0.63636rem; } }

.main-visual-contents .gnb-wrap .list-menu.active .link-menu { position: relative; opacity: 1; }

.main-visual-contents .gnb-wrap .list-menu.active .link-menu::before { content: ''; position: absolute; height: 2px; width: 100%; bottom: -15px; background: #fff; }

@media (max-width: 920px) { .main-visual-contents .gnb-wrap .list-menu.active .link-menu::before { bottom: -10px; } }

@media (max-width: 720px) { .main-visual-contents .gnb-wrap .list-menu.active .link-menu::before { bottom: -11px; } }

.main-visual-contents .gnb-wrap.active { -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 100%; border-radius: 0; }

.main-visual-contents .main-visual-bg { width: 100%; height: 100vh; background-image: url("../images/main-visual/profile_img.jpg"); background-position: 50% 50%; background-size: cover; background-attachment: fixed; }

.main-visual-contents .main-visual-bg .bg-inner { background-color: #282828; width: 100%; height: 100%; opacity: 0.4; }

.title-portfolio { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; top: 0; width: 100%; height: 100vh; min-width: 375px; }

.title-portfolio .main-title { opacity: 0; -webkit-transform: translateX(-120px); transform: translateX(-120px); font-size: 2.90909rem; font-family: 'Gotham'; font-weight: 500; color: #fff; }

@media (max-width: 1100px) { .title-portfolio .main-title { font-size: 2.18182rem; } }

@media (max-width: 720px) { .title-portfolio .main-title { text-align: center; font-size: 1.63636rem; } }

.title-portfolio .main-text { opacity: 0; -webkit-transform: translateX(120px); transform: translateX(120px); font-size: 1.45455rem; font-family: NanumSquare; font-weight: 500; color: #fff; letter-spacing: 2px; }

@media (max-width: 1100px) { .title-portfolio .main-text { font-size: 1.18182rem; } }

@media (max-width: 720px) { .title-portfolio .main-text { font-size: 0.81818rem; letter-spacing: 1px; } }

.scroll-icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; z-index: 2; position: absolute; bottom: 0; width: 100%; padding-bottom: 50px; }

.scroll-icon .icon-mouse { -webkit-animation: scrollIcon 0.5s infinite alternate linear; animation: scrollIcon 0.5s infinite alternate linear; }

@-webkit-keyframes scrollIcon { from { -webkit-transform: translateY(0); transform: translateY(0); }
  to { -webkit-transform: translateY(20px); transform: translateY(20px); } }

@keyframes scrollIcon { from { -webkit-transform: translateY(0); transform: translateY(0); }
  to { -webkit-transform: translateY(20px); transform: translateY(20px); } }

/*--- About ---*/
.about-contents { padding: 80px; }

@media (max-width: 720px) { .about-contents { padding: 120px 24px 40px; } }

.intro-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media (max-width: 920px) { .intro-wrap { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; } }

.intro-wrap .container-section { width: 50%; word-break: keep-all; }

@media (max-width: 920px) { .intro-wrap .container-section { width: 100%; } }

.intro-wrap .container-section .about-info-text { opacity: 0; -webkit-transform: translateY(60px); transform: translateY(60px); }

@media (max-width: 420px) { .intro-wrap .container-section .about-info-text { margin-left: 0; } }

.intro-wrap .container-section .about-info-text .info-about { margin-top: 40px; font-size: 0.86364rem; line-height: 1.95; letter-spacing: -0.2px; }

@media (max-width: 1100px) { .intro-wrap .container-section .about-info-text .info-about { font-size: 0.72727rem; } }

@media (max-width: 720px) { .intro-wrap .container-section .about-info-text .info-about { margin-top: 20px; word-break: keep-all; } }

.intro-wrap .container-section .about-info-text .info-about:first-child { margin-top: 0; }

.intro-wrap .profile-img2 { width: 600px; height: 450px; border-radius: 20px; }

@media (max-width: 1320px) { .intro-wrap .profile-img2 { width: 450px; height: 338px; } }

@media (max-width: 1100px) { .intro-wrap .profile-img2 { width: 360px; height: 270px; } }

@media (max-width: 420px) { .intro-wrap .profile-img2 { width: 100%; height: 100%; } }

/*--- Career ---*/
.career-contents { padding: 80px; }

@media (max-width: 720px) { .career-contents { padding: 120px 24px 40px; } }

.section-inner { overflow: hidden; padding: 60px 0 40px; opacity: 0; -webkit-transform: translateY(60px); transform: translateY(60px); }

@media (max-width: 720px) { .section-inner { margin-left: 24px; padding: 30px 0 0; } }

@media (max-width: 420px) { .section-inner { margin-left: 0; padding: 0; } }

.section-inner .career-lists { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 40px; }

@media (max-width: 720px) { .section-inner .career-lists { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.section-inner .period { margin-right: 100px; font-weight: 500; font-size: 0.90909rem; color: #666; }

@media (max-width: 920px) { .section-inner .period { width: 30%; margin-right: 0; font-size: 0.81818rem; } }

@media (max-width: 720px) { .section-inner .period { width: 100%; margin-bottom: 14px; font-size: 0.72727rem; } }

@media (max-width: 920px) { .section-inner .article { width: 70%; } }

@media (max-width: 720px) { .section-inner .article { width: 100%; padding-left: 24px; } }

.section-inner .article .company { font-size: 1.13636rem; }

@media (max-width: 920px) { .section-inner .article .company { font-size: 1rem; } }

@media (max-width: 720px) { .section-inner .article .company { font-size: 0.90909rem; } }

.section-inner .article .sub-text { margin-top: 8px; font-size: 0.72727rem; color: #999; }

@media (max-width: 920px) { .section-inner .article .sub-text { margin-top: 0; } }

@media (max-width: 720px) { .section-inner .article .sub-text { font-size: 0.68182rem; } }

.section-inner .article .info-text { margin-top: 20px; }

@media (max-width: 920px) { .section-inner .article .info-text { margin-top: 16px; } }

@media (max-width: 720px) { .section-inner .article .info-text { margin-top: 24px; } }

.section-inner .article .info-text li { margin-top: 6px; font-size: 0.72727rem; }

@media (max-width: 720px) { .section-inner .article .info-text li { word-break: keep-all; font-size: 0.63636rem; } }

@media (max-width: 420px) { .section-inner .article .info-text li { line-height: 1.8; } }

/*--- Portfolio ---*/
.portfolio-contents { position: relative; padding: 80px 0; }

.portfolio-contents .title-menu { margin-left: -30px; }

.portfolio-contents .portfolio-section { margin-top: -40px; }

@media (max-width: 720px) { .portfolio-contents .portfolio-section { margin-top: 0; } }

.project-wrap .swiper-button-next, .project-wrap .swiper-button-prev { color: #fff; width: 60px; height: 60px; font-size: 0.72727rem; border: 2px solid #000; border-radius: 50%; background-color: #000; }

@media (max-width: 720px) { .project-wrap .swiper-button-next, .project-wrap .swiper-button-prev { width: 44px; height: 44px; font-size: 0.54545rem; } }

.project-wrap .swiper-button-next:after, .project-wrap .swiper-button-prev:after { font-size: 0; }

.project-wrap .swiper-button-next, .project-wrap .swiper-rtl .swiper-button-prev { right: 40px; margin-top: 40px; }

@media (max-width: 720px) { .project-wrap .swiper-button-next, .project-wrap .swiper-rtl .swiper-button-prev { right: 20px; margin-top: 0px; } }

.project-wrap .swiper-button-prev, .project-wrap .swiper-rtl .swiper-button-next { left: 40px; margin-top: 40px; }

@media (max-width: 720px) { .project-wrap .swiper-button-prev, .project-wrap .swiper-rtl .swiper-button-next { left: 20px; margin-top: 0px; } }

.slider-contents .swiper-slide { -webkit-transform: scale(0.7); transform: scale(0.7); opacity: 0.6; -webkit-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; width: 996px !important; padding: 40px 0; }

@media (max-width: 1100px) { .slider-contents .swiper-slide { width: 700px !important; } }

@media (max-width: 920px) { .slider-contents .swiper-slide { width: 560px !important; } }

@media (max-width: 720px) { .slider-contents .swiper-slide { width: 420px !important; } }

@media (max-width: 420px) { .slider-contents .swiper-slide { width: 360px !important; } }

.slider-contents .swiper-slide.active { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }

.slider-contents .swiper-slide.active .project-title { -webkit-transform: translateY(0); transform: translateY(0); -webkit-transition-duration: 1s; transition-duration: 1s; opacity: 1; }

.slider-contents .swiper-slide .project-title { position: relative; z-index: -1; font-size: 5.45455rem; font-weight: 600; color: #efefef; line-height: 1; text-align: center; opacity: 0; -webkit-transform: translateY(60%); transform: translateY(60%); -webkit-transition-duration: 1s; transition-duration: 1s; }

@media (max-width: 1100px) { .slider-contents .swiper-slide .project-title { font-size: 4.54545rem; } }

@media (max-width: 920px) { .slider-contents .swiper-slide .project-title { font-size: 3.81818rem; } }

@media (max-width: 720px) { .slider-contents .swiper-slide .project-title { font-size: 2.81818rem; } }

@media (max-width: 420px) { .slider-contents .swiper-slide .project-title { font-size: 2.18182rem; } }

.slider-contents .pj-box { width: 100%; height: 682px; margin: 0 auto; border-radius: 30px; background-position: center center; background-repeat: no-repeat; background-size: cover; -webkit-box-shadow: 10px 10px 15px 5px #b8b8b8; box-shadow: 10px 10px 15px 5px #b8b8b8; }

@media (max-width: 1100px) { .slider-contents .pj-box { width: 700px; height: 479px; } }

@media (max-width: 920px) { .slider-contents .pj-box { width: 560px; height: 383px; } }

@media (max-width: 720px) { .slider-contents .pj-box { width: 420px; height: 288px; border-radius: 20px; } }

@media (max-width: 420px) { .slider-contents .pj-box { width: 360px; height: 246px; } }

.project-contents { position: relative; }

.inner-contents { position: absolute; width: 100%; height: 100%; top: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); border-radius: 30px; opacity: 0; background-color: #000; -webkit-transition: opacity 1s; transition: opacity 1s; }

@media (max-width: 720px) { .inner-contents { border-radius: 20px; } }

.inner-contents:hover { opacity: 0.7; background-color: #000; }

.inner-contents .project-text-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 70%; height: 100%; margin: 0 auto; }

.inner-contents .project-text-area .pj-text { padding-top: 100px; line-height: 32px; color: #fff; font-size: 0.81818rem; text-align: center; }

@media (max-width: 920px) { .inner-contents .project-text-area .pj-text { padding-top: 50px; font-size: 0.72727rem; } }

@media (max-width: 720px) { .inner-contents .project-text-area .pj-text { padding-top: 20px; line-height: 24px; font-size: 0.63636rem; } }

@media (max-width: 420px) { .inner-contents .project-text-area .pj-text { line-height: 22px; font-size: 0.54545rem; } }

.inner-contents .project-text-area .btn-more { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 140px; height: 54px; border-radius: 30px; border: 2px solid #fff; font-size: 0.90909rem; font-family: 'Nexa'; color: #fff; cursor: pointer; }

@media (max-width: 920px) { .inner-contents .project-text-area .btn-more { width: 100px; height: 42px; font-size: 0.72727rem; } }

@media (max-width: 720px) { .inner-contents .project-text-area .btn-more { width: 88px; height: 36px; font-size: 0.63636rem; } }

@media (max-width: 420px) { .inner-contents .project-text-area .btn-more { border: 1px solid #fff; } }

.inner-contents .project-text-area .btn-more:hover { background-color: #fff; color: #000; }

.project-image01 { background-image: url("../images/project/project-image01.png"); }

.project-image02 { background-image: url("../images/project/project-image02.png"); }

.project-image03 { background-image: url("../images/project/project-image03.png"); }

.project-image04 { background-image: url("../images/project/project-image04.png"); }

.project-image05 { background-image: url("../images/project/project-image05.png"); }

/*--- portfolio popup ---*/
.full-screen-area { visibility: hidden; z-index: 99; position: fixed; top: 0; width: 100%; height: 100%; min-width: 375px; }

.full-screen-area.active { visibility: visible; }

.full-screen-area.active::before { left: 0; }

.full-screen-area.active::after { right: 0; }

.full-screen-area::before, .full-screen-area::after { content: ''; position: absolute; top: 0; z-index: 9; height: 100%; -webkit-transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1); transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1); }

@media (max-width: 920px) { .full-screen-area::before, .full-screen-area::after { display: none; } }

.full-screen-area::before { width: 60%; left: -60%; background-color: #fff; }

.full-screen-area::after { width: 40%; right: -40%; background-color: #d7dba4; }

.wrap-contents-container { overflow: auto; max-height: 100%; }

.wrap-contents { position: relative; z-index: 10; display: none; }

.wrap-contents.active { display: block; }

.project-section { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (max-width: 920px) { .project-section { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.project-section .left-area { -webkit-transform: translateX(-100%); transform: translateX(-100%); width: 60%; padding: 60px; -webkit-transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1); transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1); }

.project-section .left-area.active { -webkit-transform: translateX(0); transform: translateX(0); }

@media (max-width: 1320px) { .project-section .left-area { padding: 60px 40px; } }

@media (max-width: 920px) { .project-section .left-area { width: 100%; background-color: #fff; } }

@media (max-width: 720px) { .project-section .left-area { padding: 60px 24px; } }

.project-section .left-area .pj-image { width: 100%; border-radius: 30px; -webkit-box-shadow: 10px 10px 15px 5px #b8b8b8; box-shadow: 10px 10px 15px 5px #b8b8b8; }

.project-section .left-area .pj-title { font-size: 1.36364rem; padding-bottom: 20px; color: #333; }

@media (max-width: 720px) { .project-section .left-area .pj-title { font-size: 1.18182rem; } }

.project-section .right-area { position: sticky; top: 0; left: 0; -ms-flex-item-align: start; align-self: flex-start; -webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1); transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1); -webkit-transition-delay: 0.2s; transition-delay: 0.2s; width: 40%; padding: 60px 100px; }

.project-section .right-area.active { -webkit-transform: translateX(0); transform: translateX(0); }

@media (max-width: 1320px) { .project-section .right-area { padding: 60px 40px; } }

@media (max-width: 920px) { .project-section .right-area { width: 100%; background-color: #d7dba4; } }

@media (max-width: 720px) { .project-section .right-area { padding: 60px 24px; } }

.btn-popup { position: fixed; z-index: 1; right: 40px; top: 40px; -webkit-transform: translateX(80px); transform: translateX(80px); -webkit-transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1); transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1); -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }

@media (max-width: 920px) { .btn-popup { padding: 10px; right: 20px; top: 20px; } }

.btn-popup.active { -webkit-transform: translateX(0); transform: translateX(0); }

.btn-popup .icon-x { background-image: url("../images/icon/icon-close-w-24x24.png"); width: 36px; height: 36px; background-size: 100%; }

@media (max-width: 920px) { .btn-popup .icon-x { width: 24px; height: 24px; background-image: url("../images/icon/icon-close-bk-24x24.png"); } }

.detail-title { display: inline-block; font-size: 1.63636rem; font-weight: 600; margin-bottom: 60px; color: #fff; }

.detail-title::after { content: ''; display: block; width: 100%; height: 1px; margin-top: 2px; background-color: #fff; }

.detail-title.bk-color { color: #333; }

.detail-title.bk-color::after { background-color: #333; }

.project-desc { margin-top: 60px; margin-bottom: 150px; }

@media (max-width: 920px) { .project-desc { margin: 0; } }

.project-desc .work-desc-box { margin-bottom: 50px; }

.project-desc .sub-title-area { position: relative; margin-bottom: 10px; font-size: 0.90909rem; font-weight: 600; color: #fff; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.project-desc .icon-link { display: inline-block; background-image: url("../images/icon/icon-arrow-w-61x11.png"); width: 125px; height: 24px; margin-left: 10px; background-size: 100%; }

@media (max-width: 920px) { .project-desc .icon-link { width: 92px; height: 18px; } }

.project-desc .sub-text-desc { font-size: 0.72727rem; font-weight: 300; line-height: 26px; color: #fff; word-break: keep-all; }

/*--- Contact ---*/
.contact-contents { padding: 80px; }

@media (max-width: 720px) { .contact-contents { padding: 120px 24px 40px; } }

.contact-contents .contact-section { margin-top: 80px; padding-bottom: 300px; }

@media (max-width: 720px) { .contact-contents .contact-section { margin-top: 20px; padding-bottom: 150px; } }

.contact-contents .contact-section .info-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.contact-contents .contact-section .info-wrapper .pr-text { font-size: 1.54545rem; letter-spacing: 2px; word-break: keep-all; text-align: center; }

@media (max-width: 720px) { .contact-contents .contact-section .info-wrapper .pr-text { font-size: 1rem; } }

@media (max-width: 420px) { .contact-contents .contact-section .info-wrapper .pr-text { font-size: 0.81818rem; letter-spacing: 1px; } }

.contact-contents .contact-section .info-wrapper .contact-box { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 60px; }

.contact-contents .contact-section .info-wrapper .contact-box .link-contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100px; height: 40px; margin: 0 20px; border-radius: 20px; background-color: #000; font-size: 0.90909rem; color: #fff; }
