@charset "UTF-8";
@font-face { font-family: 'Spoqa Han Sans Neo'; font-style: normal; font-weight: 400; src: url("../fonts/Spoqa Han Sans Neo Regular.otf") format("opentype"), url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"), url("../fonts/Spoqa Han Sans Neo Regular.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Regular.eot") format("eot"); }

@font-face { font-family: 'Spoqa Han Sans Neo'; font-style: normal; font-weight: 700; src: url("../fonts/Spoqa Han Sans Neo Bold.otf") format("opentype"), url("./fonts/SpoqaHanSansNeo-Bold.woff") format("woff"), url("../fonts/Spoqa Han Sans Neo Bold.woff2") format("woff2"), url("./fonts/SpoqaHanSansNeo-Bold.eot") format("eot"); }

@font-face { font-family: 'NotoSansKR'; font-style: light; font-weight: 300; src: url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.eot") format("eot"); }

@font-face { font-family: 'NotoSansKR'; font-style: normal; font-weight: 400; src: url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.eot") format("eot"); }

@font-face { font-family: 'NotoSansKR'; font-style: medium; font-weight: 500; src: url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.eot") format("eot"); }

@font-face { font-family: 'NotoSansKR'; font-style: bold; font-weight: 700; src: url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.eot") format("eot"); }

@font-face { font-family: 'Gotham'; font-style: light; font-weight: 300; src: url("../fonts/GothamLight.ttf") format("truetype"); }

@font-face { font-family: 'Gotham'; font-style: medium; font-weight: 500; src: url("../fonts/GothamMedium.ttf") format("truetype"); }

@font-face { font-family: 'Gotham'; font-style: bold; font-weight: 700; src: url("../fonts/GothamBold.ttf") format("truetype"); }

@font-face { font-family: 'Nexa'; font-style: light; font-weight: 300; src: url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.eot") format("eot"); }

@font-face { font-family: 'Nexa'; font-style: bold; font-weight: 700; src: url("./fonts/NexaBold.woff") format("woff"), url("./fonts/NexaBold.eot") format("eot"); }

/* reset */
/* rem 설정을 위한 폰트 */
html { font-size: 22px; }

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, pre { -webkit-text-size-adjust: none; letter-spacing: -0.03em; line-height: 1.5; font-weight: 400; color: #000; font-family: "NotoSansKR", "Spoqa Han Sans Neo", "Gotham", "Nexa", arial, sans-serif, Arial, dotum, "돋움"; font-size: 22px; outline: none; }

/*-webkit-text-size-adjust: none(글자크기 자동조정 방지) , auto (화면의 폭에 맞추어서 텍스트의 크기를 자동으로 조절 , 100%(폰트크기를 지정된사이즈로 변경);*/
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, table, tr, td, dl, dt, dd, a, img, input, button, select, textarea { margin: 0px; padding: 0px; list-style: none; }

input { -webkit-border-radius: 0; }

address, cite, dfn, em, var { font-style: normal; }

code, kbd, samp { font-family: dotum, '돋움', courier new, courier, monospace; }

header, hgroup, article, nav, footer, figure, figcaption, canvas, section, main, menu { display: block; margin: 0; padding: 0; }

/* 모바일에서 꾹 눌렀을때 텍스트 복사 막기 */
body, div, p, ul, li, input, h1, h2, h3, h4, h5, h6, dl, dt, dd, a, select, textarea { -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; color: #000; }

img, fieldset, iframe { border: 0 none; }

fieldset { width: auto; min-width: 0; max-width: none; border: 0; margin: 0; padding: 0; }

legend { position: absolute !important; display: block; width: 0 !important; height: 0 !important; padding: 0 !important; margin: -1px !important; border: 0 !important; overflow: hidden !important; clip: rect(0 0 0 0) !important; }

legend.focusable:active, legend.focusable:focus { position: static; height: auto; width: auto; margin: 0; clip: auto; overflow: visible; }

img { border: 0px; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

caption { display: none; }

button { cursor: pointer; border: 0; background-color: transparent; }

button:focus { outline: none; }

/* reset */
#container { overflow: hidden; background-color: #fff; }

/*--- common ---*/
.title-menu { position: relative; padding-top: 60px; font-size: 4.54545rem; font-family: 'Nexa'; font-weight: 300; text-align: center; -webkit-transform: translateY(-20%); transform: translateY(-20%); -webkit-transition-duration: 1s; transition-duration: 1s; opacity: 0; }

@media (max-width: 720px) { .title-menu { font-size: 2.72727rem; } }

@media (max-width: 400px) { .title-menu { font-size: 2.18182rem; } }

.title-menu.fill { -webkit-transform: translateY(0); transform: translateY(0); -webkit-transition-duration: 1s; transition-duration: 1s; opacity: 1; }

.title-menu::after { content: ''; position: absolute; top: 35%; left: 50%; margin-left: -3px; width: 6px; height: 70px; background-color: #024473; }

@media (max-width: 720px) { .title-menu::after { margin-left: 0; height: 50px; } }

.section-title { display: block; font-family: 'Gotham'; font-weight: 500; font-size: 2.04545rem; -webkit-transform: translateX(-100px); transform: translateX(-100px); opacity: 0; }

@media (max-width: 720px) { .section-title { font-size: 1.36364rem; } }

@media (max-width: 400px) { .section-title { font-size: 1.27273rem; } }

.section-title span { color: #024473; font-size: 2.27273rem; }

@media (max-width: 720px) { .section-title span { font-size: 1.81818rem; } }

.ft-bold { font-size: 0.77273rem; font-weight: 600; color: #000; }

@media (max-width: 720px) { .ft-bold { font-size: 0.68182rem; } }

/*--- mainVisual ---*/
.main-visual-contents .main-visual-bg { width: 100%; height: 100vh; background-image: url("../images/main-visual/main-bg.jpeg"); background-position: 50% 50%; background-size: cover; background-attachment: fixed; }

.main-visual-contents .main-visual-bg .bg-inner { background-color: #ffcece; width: 100%; height: 100%; opacity: 0.3; }

.title-portfolio { position: absolute; top: 0; width: 100%; height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.title-portfolio .main-title { opacity: 0; -webkit-transform: translateX(-120px); transform: translateX(-120px); font-size: 2.90909rem; font-family: 'Gotham'; font-weight: 500; color: #fff; }

@media (max-width: 1100px) { .title-portfolio .main-title { font-size: 2.18182rem; } }

@media (max-width: 720px) { .title-portfolio .main-title { text-align: center; font-size: 1.63636rem; } }

.title-portfolio .main-text { opacity: 0; -webkit-transform: translateX(120px); transform: translateX(120px); font-size: 1.45455rem; font-family: NanumSquare; font-weight: 500; color: #fff; letter-spacing: 2px; }

@media (max-width: 1100px) { .title-portfolio .main-text { font-size: 1.18182rem; } }

@media (max-width: 720px) { .title-portfolio .main-text { font-size: 0.81818rem; letter-spacing: 1px; } }

.scroll-icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; z-index: 2; position: absolute; bottom: 0; width: 100%; padding-bottom: 50px; }

.scroll-icon .icon-mouse { -webkit-animation: scrollIcon 0.5s infinite alternate linear; animation: scrollIcon 0.5s infinite alternate linear; }

@-webkit-keyframes scrollIcon { from { -webkit-transform: translateY(0); transform: translateY(0); }
  to { -webkit-transform: translateY(20px); transform: translateY(20px); } }

@keyframes scrollIcon { from { -webkit-transform: translateY(0); transform: translateY(0); }
  to { -webkit-transform: translateY(20px); transform: translateY(20px); } }

/*--- intro ---*/
.intro-contents { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 60px; }

@media (max-width: 920px) { .intro-contents { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0 24px; } }

.intro-contents .profile-img { position: relative; width: 400px; height: 550px; margin-top: 60px; border-radius: 20px; -webkit-box-shadow: 0 20px 30px 0 rgba(94, 94, 94, 0.2); box-shadow: 0 20px 30px 0 rgba(94, 94, 94, 0.2); }

@media (max-width: 1100px) { .intro-contents .profile-img { z-index: 1; width: 340px; height: 480px; } }

@media (max-width: 720px) { .intro-contents .profile-img { width: 320px; height: 400px; } }

@media (max-width: 400px) { .intro-contents .profile-img { width: 100%; height: auto; } }

.intro-contents .intro-container { margin-top: 180px; text-align: right; }

@media (max-width: 1100px) { .intro-contents .intro-container { margin-top: 120px; } }

@media (max-width: 920px) { .intro-contents .intro-container { margin-top: -280px; } }

@media (max-width: 720px) { .intro-contents .intro-container { margin-top: -150px; } }

.intro-contents .intro-container .sub-text { position: relative; margin-bottom: 10px; font-family: NanumSquare; font-weight: 400; font-size: 2rem; letter-spacing: 2px; line-height: 1.6; }

@media (max-width: 920px) { .intro-contents .intro-container .sub-text { letter-spacing: 1px; } }

@media (max-width: 1100px) { .intro-contents .intro-container .sub-text { font-size: 1.36364rem; } }

@media (max-width: 720px) { .intro-contents .intro-container .sub-text { font-size: 1.18182rem; line-height: 1.4; } }

@media (max-width: 400px) { .intro-contents .intro-container .sub-text { font-size: 1rem; } }

.intro-contents .intro-container .sub-text .text { display: block; }

.intro-contents .intro-container .sub-text .mask { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transform-origin: bottom; transform-origin: bottom; background-color: #fff; }

/*--- About ---*/
.about-contents { padding: 0 40px; }

@media (max-width: 720px) { .about-contents { padding: 0 24px; } }

.about-contents .list-container { margin-top: 80px; }

.about-contents .list-container .container-section { margin-bottom: 100px; }

@media (max-width: 720px) { .about-contents .list-container .container-section { margin-bottom: 60px; } }

.about-info-text { margin-left: 40px; opacity: 0; -webkit-transform: translateY(60px); transform: translateY(60px); }

@media (max-width: 720px) { .about-info-text { margin-left: 24px; } }

@media (max-width: 400px) { .about-info-text { margin-left: 0; } }

.about-info-text .info-about { margin-top: 40px; font-size: 0.86364rem; line-height: 1.95; letter-spacing: -0.2px; }

@media (max-width: 1100px) { .about-info-text .info-about { font-size: 0.72727rem; } }

@media (max-width: 720px) { .about-info-text .info-about { margin-top: 20px; word-break: keep-all; } }

.about-info-text .info-about:first-child { margin-top: 0; }

.section-inner { overflow: hidden; margin-left: 40px; padding: 60px 0 40px; opacity: 0; -webkit-transform: translateY(60px); transform: translateY(60px); }

@media (max-width: 720px) { .section-inner { margin-left: 24px; padding: 30px 0 0; } }

@media (max-width: 400px) { .section-inner { margin-left: 0; padding: 0; } }

.section-inner .career-lists { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 40px; }

@media (max-width: 720px) { .section-inner .career-lists { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.section-inner .period { margin-right: 100px; font-weight: 500; font-size: 0.90909rem; color: #666; }

@media (max-width: 920px) { .section-inner .period { width: 30%; margin-right: 0; font-size: 0.81818rem; } }

@media (max-width: 720px) { .section-inner .period { width: 100%; margin-bottom: 14px; font-size: 0.72727rem; } }

@media (max-width: 920px) { .section-inner .article { width: 70%; } }

@media (max-width: 720px) { .section-inner .article { width: 100%; padding-left: 24px; } }

.section-inner .article .company { font-size: 1.13636rem; }

@media (max-width: 920px) { .section-inner .article .company { font-size: 1rem; } }

@media (max-width: 720px) { .section-inner .article .company { font-size: 0.90909rem; } }

.section-inner .article .sub-text { margin-top: 8px; font-size: 0.72727rem; color: #999; }

@media (max-width: 920px) { .section-inner .article .sub-text { margin-top: 0; } }

@media (max-width: 720px) { .section-inner .article .sub-text { font-size: 0.68182rem; } }

.section-inner .article .info-text { margin-top: 20px; }

@media (max-width: 920px) { .section-inner .article .info-text { margin-top: 16px; } }

@media (max-width: 720px) { .section-inner .article .info-text { margin-top: 24px; } }

.section-inner .article .info-text li { margin-top: 6px; font-size: 0.72727rem; }

@media (max-width: 720px) { .section-inner .article .info-text li { word-break: keep-all; font-size: 0.63636rem; } }

@media (max-width: 400px) { .section-inner .article .info-text li { line-height: 1.8; } }

/*--- Portfolio ---*/
.portfolio-contents .portfolio-section { padding: 60px 0; }

.portfolio-contents .portfolio-section .title-area { padding-left: 60px; }

@media (max-width: 720px) { .portfolio-contents .portfolio-section .title-area { padding: 0 24px; } }

.portfolio-contents .portfolio-section .title-area .stack { margin-top: 15px; font-size: 0.72727rem; color: #888; opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }

@media (max-width: 720px) { .portfolio-contents .portfolio-section .title-area .stack { font-size: 0.63636rem; } }

.portfolio-list { margin-top: 100px; }

@media (max-width: 1320px) { .portfolio-list { padding: 0 60px; } }

@media (max-width: 720px) { .portfolio-list { margin-top: 0; padding: 0 48px; } }

@media (max-width: 400px) { .portfolio-list { padding: 0 24px; } }

.portfolio-list .list-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media (max-width: 1100px) { .portfolio-list .list-item { padding-bottom: 100px; }
  .portfolio-list .list-item:nth-child(odd) { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .portfolio-list .list-item:nth-child(even) { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; } }

@media (max-width: 720px) { .portfolio-list .list-item { padding: 80px 0; border-bottom: 1px dashed #d6d6d6; } }

@media (max-width: 400px) { .portfolio-list .list-item { padding: 60px 0; } }

.portfolio-list .list-item .scroll-box01 { -webkit-transform: translateX(-110%); transform: translateX(-110%); -webkit-transition-duration: 1s; transition-duration: 1s; opacity: 0; }

.portfolio-list .list-item .scroll-box02 { -webkit-transform: translateX(110%); transform: translateX(110%); -webkit-transition-duration: 1s; transition-duration: 1s; opacity: 0; }

.portfolio-list .list-item.active .scroll-box01, .portfolio-list .list-item.active .scroll-box02 { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; -webkit-transition-duration: 1s; transition-duration: 1s; }

.column-text { width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media (max-width: 1100px) { .column-text { width: 100%; padding-bottom: 40px; } }

.column-text .text-area { max-width: 550px; margin: 0 auto; }

@media (max-width: 1320px) { .column-text .text-area { max-width: 90%; } }

@media (max-width: 1100px) { .column-text .text-area { width: 100%; max-width: 100%; } }

.column-text .work-info { position: relative; font-size: 1.63636rem; font-weight: 700; font-family: NanumSquare; }

@media (max-width: 1320px) { .column-text .work-info { font-size: 1.18182rem; } }

@media (max-width: 720px) { .column-text .work-info { font-size: 1.09091rem; } }

@media (max-width: 400px) { .column-text .work-info { font-size: 0.90909rem; word-break: keep-all; } }

.column-text .work-info::before { content: ''; display: block; z-index: -1; position: absolute; top: -10px; left: -17px; width: 40px; height: 40px; border-radius: 50%; background-color: #0062a7; }

@media (max-width: 720px) { .column-text .work-info::before { top: -6px; left: -10px; width: 24px; height: 24px; } }

.column-text .info-description { padding-top: 50px; font-size: 0.68182rem; line-height: 33px; color: #666; }

@media (max-width: 1320px) { .column-text .info-description { padding-top: 30px; } }

@media (max-width: 720px) { .column-text .info-description { word-break: keep-all; font-size: 0.63636rem; } }

.link-page { font-size: 0.77273rem; text-decoration: underline; }

@media (max-width: 720px) { .link-page { font-size: 0.63636rem; } }

.link-page .icon-arrow { display: inline-block; width: 24px; height: 22px; vertical-align: sub; background-size: 100% 100%; background-image: url("../images/icon/icon-arrow.png"); }

@media (max-width: 720px) { .link-page .icon-arrow { width: 20px; height: 18px; margin-left: 4px; } }

.column-view { width: 50%; height: 100vh; }

@media (max-width: 1320px) { .column-view { height: 60vh; } }

@media (max-width: 1100px) { .column-view { width: 100%; height: 50vh; } }

.column-view .work-image { width: 100%; height: 100%; background-size: cover; cursor: pointer; }

.column-view .scroll-animation { background-position: left top; -webkit-transition-duration: 10s; transition-duration: 10s; -webkit-transition-delay: 1s; transition-delay: 1s; }

.column-view .scroll-animation.active { background-position: right top; -webkit-transition-duration: 7s; transition-duration: 7s; }

.column-view .scroll-project-image01 { background-image: url("../images/project/scroll-project-image01.png"); }

.column-view .scroll-project-image02 { background-image: url("../images/project/scroll-project-image02.png"); }

.column-view .scroll-project-image03 { background-image: url("../images/project/scroll-project-image03.png"); }

.column-view .scroll-project-image04 { background-image: url("../images/project/scroll-project-image04.png"); }

.column-view .scroll-project-image05 { background-image: url("../images/project/scroll-project-image05.png"); }

.column-view .scroll-project-image06 { background-image: url("../images/project/scroll-project-image06.png"); }

.column-view .scroll-project-image07 { background-image: url("../images/project/scroll-project-image07.png"); }

.column-view .scroll-project-image08 { background-image: url("../images/project/scroll-project-image08.png"); }

.column-view .scroll-project-image09 { background-image: url("../images/project/scroll-project-image09.png"); }

.column-view .scroll-project-image10 { background-image: url("../images/project/scroll-project-image10.png"); }

/*--- Contact ---*/
.contact-contents .contact-section { margin-top: 80px; padding-bottom: 300px; }

@media (max-width: 720px) { .contact-contents .contact-section { margin-top: 20px; } }

@media (max-width: 400px) { .contact-contents .contact-section { padding-bottom: 150px; } }

.contact-contents .contact-section .info-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.contact-contents .contact-section .info-wrapper .pr-text { font-size: 1.54545rem; letter-spacing: 2px; }

@media (max-width: 720px) { .contact-contents .contact-section .info-wrapper .pr-text { font-size: 1rem; } }

@media (max-width: 400px) { .contact-contents .contact-section .info-wrapper .pr-text { font-size: 0.81818rem; letter-spacing: 1px; } }

.contact-contents .contact-section .info-wrapper .contact-box { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 60px; }

.contact-contents .contact-section .info-wrapper .contact-box .link-contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100px; height: 40px; margin: 0 20px; border-radius: 20px; background-color: #000; font-size: 0.90909rem; color: #fff; }
