body {
  &.scroll-disable {
    overflow: hidden;
  }
}
#container {
  overflow: hidden;
  background-color: $white;
}
#pagelayout {
  min-width: 375px;
}
/*--- common ---*/
.title-menu {
  height: 300px;
  display: flex;
  margin-left: -110px;
  align-items: center;
  transform: translateY(-20%);
  transition-duration: 1s;
  opacity: 0;
  @media (max-width: $tb-s) {
    height: 200px;
  }
  @media (max-width: $mo-l) {
    height: 100px;
    font-size: rem(60px);
    margin-left: -50px;
  }
  @media (max-width: $mo-s) {
    font-size: rem(48px);
  }
  &.fill {
    transform: translateY(0);
    transition-duration: 1s;
    opacity: 1;
  }
  .section-number {
    font-size: rem(200px);
    color: $gray_30;
    font-family: 'Gotham';
    font-weight: 700;
    letter-spacing: -15px;
    @media (max-width: $tb-s) {
      font-size: rem(180px);
    }
    @media (max-width: $mo-l) {
      font-size: rem(160px);
    }
  }
  .sc-title {
    font-size: rem(48px);
    font-family: 'Gotham';
    margin-left: -24px;
    letter-spacing: -2px;
    @media (max-width: $tb-s) {
      font-size: rem(36px);
    }
  }
}
.ft-bold {
  font-size: rem(17px);
  font-weight: 600;
  color: $body-font-color;
  @media (max-width: $mo-l) {
    font-size: rem(15px);
  }
}

/*--- mainVisual ---*/
.main-visual-contents {
  .main-visual-bg {
    @include size(100%, 100vh);
    @include _background-image('main-visual/profile_img.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    .bg-inner {
      background-color: $black_20;
      @include size(100%, 100%);
      opacity: 0.4;
    }
  }
}

.title-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  @include size(100%, 100vh);
  min-width: 375px;
  .main-title {
    opacity: 0;
    transform: translateX(-120px);
    font-size: rem(64px);
    font-family: 'Gotham';
    font-weight: 500;
    color: $white;
    @media (max-width: $tb-s) {
      font-size: rem(48px);
    }
    @media (max-width: $mo-l) {
      text-align: center;
      font-size: rem(36px);
    }
  }
  .main-text {
    opacity: 0;
    transform: translateX(120px);
    font-size: rem(32px);
    font-family: NanumSquare;
    font-weight: 500;
    color: $white;
    letter-spacing: 2px;
    @media (max-width: $tb-s) {
      font-size: rem(26px);
    }
    @media (max-width: $mo-l) {
      font-size: rem(18px);
      letter-spacing: 1px;
    }
  }
}

.scroll-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
  .icon-mouse {
    animation: scrollIcon 0.5s infinite alternate linear;
  }
}
@keyframes scrollIcon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

/*--- About ---*/
.about-contents {
  padding: 80px;
  @media (max-width: $mo-l) {
    padding: 120px 24px 40px;
  }
}
.intro-wrap {
  display: flex;
  justify-content: space-between;
  @media (max-width: $tb-xs) {
    flex-direction: column-reverse;
  }
  .container-section {
    width: 50%;
    word-break: keep-all;
    @media (max-width: $tb-xs) {
      width: 100%;
    }
    .about-info-text {
      opacity: 0;
      transform: translateY(60px);
      @media (max-width: $mo-l) {
      }
      @media (max-width: $mo-s) {
        margin-left: 0;
      }
      .info-about {
        margin-top: 40px;
        font-size: rem(19px);
        line-height: 1.95;
        letter-spacing: -0.2px;
        @media (max-width: $tb-s) {
          font-size: rem(16px);
        }
        @media (max-width: $mo-l) {
          margin-top: 20px;
          word-break: keep-all;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .profile-img2 {
    @include size(600px, 450px);
    border-radius: 20px;
    @media (max-width: $tb-l) {
      @include size(450px, 338px);
    }
    @media (max-width: $tb-s) {
      @include size(360px, 270px);
    }
    @media (max-width: $mo-s) {
      @include size(100%, 100%);
    }
  }
}

/*--- Career ---*/
.career-contents {
  padding: 80px;
  @media (max-width: $mo-l) {
    padding: 120px 24px 40px;
  }
}
.section-inner {
  overflow: hidden;
  padding: 60px 0 40px;
  opacity: 0;
  transform: translateY(60px);
  @media (max-width: $mo-l) {
    margin-left: 24px;
    padding: 30px 0 0;
  }
  @media (max-width: $mo-s) {
    margin-left: 0;
    padding: 0;
  }
  .career-lists {
    display: flex;
    margin-bottom: 40px;
    @media (max-width: $mo-l) {
      flex-direction: column;
    }
  }
  .period {
    margin-right: 100px;
    font-weight: 500;
    font-size: rem(20px);
    color: $gray_10;
    @media (max-width: $tb-xs) {
      width: 30%;
      margin-right: 0;
      font-size: rem(18px);
    }
    @media (max-width: $mo-l) {
      width: 100%;
      margin-bottom: 14px;
      font-size: rem(16px);
    }
  }
  .article {
    @media (max-width: $tb-xs) {
      width: 70%;
    }
    @media (max-width: $mo-l) {
      width: 100%;
      padding-left: 24px;
    }
    .company {
      font-size: rem(25px);
      @media (max-width: $tb-xs) {
        font-size: rem(22px);
      }
      @media (max-width: $mo-l) {
        font-size: rem(20px);
      }
    }
    .sub-text {
      margin-top: 8px;
      font-size: rem(16px);
      color: $gray_30;
      @media (max-width: $tb-xs) {
        margin-top: 0;
      }
      @media (max-width: $mo-l) {
        font-size: rem(15px);
      }
    }
    .info-text {
      margin-top: 20px;
      @media (max-width: $tb-xs) {
        margin-top: 16px;
      }
      @media (max-width: $mo-l) {
        margin-top: 24px;
      }
      li {
        margin-top: 6px;
        font-size: rem(16px);
        @media (max-width: $mo-l) {
          word-break: keep-all;
          font-size: rem(14px);
        }
        @media (max-width: $mo-s) {
          line-height: 1.8;
        }
      }
    }
  }
}

/*--- Portfolio ---*/
.portfolio-contents {
  position: relative;
  padding: 80px 0;
  .title-menu {
    margin-left: -30px;
  }
  .portfolio-section {
    margin-top: -40px;
    @media (max-width: $mo-l) {
      margin-top: 0;
    }
  }
}
.project-wrap {
  .swiper-button-next,
  .swiper-button-prev {
    color: $white;
    width: 60px;
    height: 60px;
    font-size: rem(16px);
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #000;
    @media (max-width: $mo-l) {
      width: 44px;
      height: 44px;
      font-size: rem(12px);
    }
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 0;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 40px;
    margin-top: 40px;
    @media (max-width: $mo-l) {
      right: 20px;
      margin-top: 0px;
    }
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 40px;
    margin-top: 40px;
    @media (max-width: $mo-l) {
      left: 20px;
      margin-top: 0px;
    }
  }
}
.slider-contents {
  .swiper-slide {
    transform: scale(0.7);
    opacity: 0.6;
    transition: all 0.8s ease-in-out;
    width: 996px !important;
    padding: 40px 0;
    @media (max-width: $tb-s) {
      width: 700px !important;
    }
    @media (max-width: $tb-xs) {
      width: 560px !important;
    }
    @media (max-width: $mo-l) {
      width: 420px !important;
    }
    @media (max-width: $mo-s) {
      width: 360px !important;
    }
    &.active {
      transform: scale(1);
      opacity: 1;
      .project-title {
        transform: translateY(0);
        transition-duration: 1s;
        opacity: 1;
      }
    }
    .project-title {
      position: relative;
      z-index: -1;
      font-size: rem(120px);
      font-weight: 600;
      color: $gray_40;
      line-height: 1;
      text-align: center;
      opacity: 0;
      transform: translateY(60%);
      transition-duration: 1s;
      @media (max-width: $tb-s) {
        font-size: rem(100px);
      }
      @media (max-width: $tb-xs) {
        font-size: rem(84px);
      }
      @media (max-width: $mo-l) {
        font-size: rem(62px);
      }
      @media (max-width: $mo-s) {
        font-size: rem(48px);
      }
    }
  }
  .pj-box {
    width: 100%;
    height: 682px;
    margin: 0 auto;
    border-radius: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 15px 5px $gray_50;
    @media (max-width: $tb-s) {
      width: 700px;
      height: 479px;
    }
    @media (max-width: $tb-xs) {
      width: 560px;
      height: 383px;
    }
    @media (max-width: $mo-l) {
      width: 420px;
      height: 288px;
      border-radius: 20px;
    }
    @media (max-width: $mo-s) {
      width: 360px;
      height: 246px;
    }
  }
}
.project-contents {
  position: relative;
}
.inner-contents {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  opacity: 0;
  background-color: #000;
  transition: opacity 1s;
  @media (max-width: $mo-l) {
    border-radius: 20px;
  }
  &:hover {
    opacity: 0.7;
    background-color: #000;
  }
  .project-text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    .pj-text {
      padding-top: 100px;
      line-height: 32px;
      color: $white;
      font-size: rem(18px);
      text-align: center;
      @media (max-width: $tb-xs) {
        padding-top: 50px;
        font-size: rem(16px);
      }
      @media (max-width: $mo-l) {
        padding-top: 20px;
        line-height: 24px;
        font-size: rem(14px);
      }
      @media (max-width: $mo-s) {
        line-height: 22px;
        font-size: rem(12px);
      }
    }
    .btn-more {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 54px;
      border-radius: 30px;
      border: 2px solid $white;
      font-size: rem(20px);
      font-family: 'Nexa';
      color: $white;
      cursor: pointer;
      @media (max-width: $tb-xs) {
        width: 100px;
        height: 42px;
        font-size: rem(16px);
      }
      @media (max-width: $mo-l) {
        width: 88px;
        height: 36px;
        font-size: rem(14px);
      }
      @media (max-width: $mo-s) {
        border: 1px solid $white;
      }
      &:hover {
        background-color: $white;
        color: #000;
      }
    }
  }
}

.project-image01 {
  @include _background-image('project/project-image01.png');
}
.project-image02 {
  @include _background-image('project/project-image02.png');
}
.project-image03 {
  @include _background-image('project/project-image03.png');
}
.project-image04 {
  @include _background-image('project/project-image04.png');
}
.project-image05 {
  @include _background-image('project/project-image05.png');
}

/*--- portfolio popup ---*/
.full-screen-area {
  visibility: hidden;
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 375px;
  &.active {
    visibility: visible;
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: 9;
    height: 100%;
    transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
    @media (max-width: $tb-xs) {
      display: none;
    }
  }
  &::before {
    width: 60%;
    left: -60%;
    background-color: $white;
  }
  &::after {
    width: 40%;
    right: -40%;
    background-color: $green_10;
  }
}
.wrap-contents-container {
  overflow: auto;
  max-height: 100%;
}
.wrap-contents {
  position: relative;
  z-index: 10;
  display: none;
  &.active {
    display: block;
  }
}

// project popup
.project-section {
  display: flex;
  @media (max-width: $tb-xs) {
    flex-direction: column;
  }
  .left-area {
    transform: translateX(-100%);
    width: 60%;
    padding: 60px;
    transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
    &.active {
      transform: translateX(0);
    }
    @media (max-width: $tb-l) {
      padding: 60px 40px;
    }
    @media (max-width: $tb-xs) {
      width: 100%;
      background-color: $white;
    }
    @media (max-width: $mo-l) {
      padding: 60px 24px;
    }
    .pj-image {
      width: 100%;
      border-radius: 30px;
      box-shadow: 10px 10px 15px 5px $gray_50;
    }
    .pj-title {
      font-size: rem(30px);
      padding-bottom: 20px;
      color: $black_10;
      @media (max-width: $mo-l) {
        font-size: rem(26px);
      }
    }
  }
  .right-area {
    position: sticky;
    top: 0;
    left: 0;
    align-self: flex-start;
    transform: translateX(100%);
    transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0.2s;
    width: 40%;
    padding: 60px 100px;
    &.active {
      transform: translateX(0);
    }
    @media (max-width: $tb-l) {
      padding: 60px 40px;
    }
    @media (max-width: $tb-xs) {
      width: 100%;
      background-color: $green_10;
    }
    @media (max-width: $mo-l) {
      padding: 60px 24px;
    }
  }
}

.btn-popup {
  position: fixed;
  z-index: 1;
  right: 40px;
  top: 40px;
  transform: translateX(80px);
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-delay: 0.2s;

  @media (max-width: $tb-xs) {
    padding: 10px;
    right: 20px;
    top: 20px;
  }
  &.active {
    transform: translateX(0);
  }
  .icon-x {
    @include _background-image('icon/icon-close-w-24x24.png');
    @include size(36px, 36px);
    background-size: 100%;
    @media (max-width: $tb-xs) {
      @include size(24px, 24px);
      @include _background-image('icon/icon-close-bk-24x24.png');
    }
  }
}

.detail-title {
  display: inline-block;
  font-size: rem(36px);
  font-weight: 600;
  margin-bottom: 60px;
  color: $white;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 2px;
    background-color: $white;
  }
  &.bk-color {
    color: $black_10;
    &::after {
      background-color: $black_10;
    }
  }
}

.project-desc {
  margin-top: 60px;
  margin-bottom: 150px;
  @media (max-width: $tb-xs) {
    margin: 0;
  }
  .work-desc-box {
    margin-bottom: 50px;
  }
  .sub-title-area {
    position: relative;
    margin-bottom: 10px;
    font-size: rem(20px);
    font-weight: 600;
    color: $white;
    align-items: center;
  }
  .icon-link {
    display: inline-block;
    @include _background-image('icon/icon-arrow-w-61x11.png');
    @include size(125px, 24px);
    margin-left: 10px;
    background-size: 100%;
    @media (max-width: $tb-xs) {
      @include size(92px, 18px);
    }
  }
  .sub-text-desc {
    font-size: rem(16px);
    font-weight: 300;
    line-height: 26px;
    color: $white;
    word-break: keep-all;
  }
}

/*--- Contact ---*/
.contact-contents {
  padding: 80px;
  @media (max-width: $mo-l) {
    padding: 120px 24px 40px;
  }
  .contact-section {
    margin-top: 80px;
    padding-bottom: 300px;
    @media (max-width: $mo-l) {
      margin-top: 20px;
      padding-bottom: 150px;
    }
    .info-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .pr-text {
        font-size: rem(34px);
        letter-spacing: 2px;
        word-break: keep-all;
        text-align: center;
        @media (max-width: $mo-l) {
          font-size: rem(22px);
        }
        @media (max-width: $mo-s) {
          font-size: rem(18px);
          letter-spacing: 1px;
        }
      }
      .contact-box {
        display: flex;
        margin-top: 60px;

        .link-contact {
          display: flex;
          justify-content: center;
          align-items: center;
          @include size(100px, 40px);
          margin: 0 20px;
          border-radius: 20px;
          background-color: $body-font-color;
          font-size: rem(20px);
          color: $white;
        }
      }
    }
  }
}
