body {
  &.scroll-disable {
    overflow: hidden;
  }
}
#container {
  overflow: hidden;
}
#pagelayout {
  min-width: 375px;
  background-color: #1a1a1a;
}
/*--- common ---*/
.title-menu {
  margin-left: -60px;
  padding-bottom: 80px;
  -webkit-transform: translate3d(0, 0, 0); /* Solves Safari bug because of SVG clipping mask */
  @media (max-width: $tb-s) {
    padding-bottom: 60px;
  }
  @media (max-width: $mo-l) {
    margin-left: 0;
  }
}
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: rem(140px);
  letter-spacing: -1.5px;
  line-height: 1;
  color: #bfc3cf;
  display: inline-block;
  @media (max-width: $tb-l) {
    font-size: rem(110px);
  }
  @media (max-width: $tb-s) {
    font-size: rem(80px);
  }
  @media (max-width: $mo-l) {
    font-size: rem(60px);
  }
  @media (max-width: $mo-s) {
    font-size: rem(40px);
  }
}

.title-effect {
  overflow: hidden;
  // line-height: 1.5;
  font-weight: 700;
  font-family: 'Prompt';
  font-size: rem(150px);
  color: #444;
  text-transform: uppercase;
  @media (max-width: $tb-l) {
    font-size: rem(125px);
  }
  @media (max-width: $tb-s) {
    font-size: rem(100px);
  }
  @media (max-width: $tb-xs) {
    font-size: rem(80px);
  }
  @media (max-width: $mo-l) {
    text-align: center;
    font-size: rem(70px);
  }
  @media (max-width: $mo-s) {
    font-size: rem(40px);
  }
}

.title-effect.fill {
  // color: #222;
}

.title-effect::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 100%;
  top: 50%;
  right: -1px;
  background: #fff;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);

  -webkit-transition-timing-function: cubic-bezier(0.25, -0.02, 0.95, 1.01);
  transition-timing-function: cubic-bezier(0.25, -0.02, 0.95, 1.01);
  @media (max-width: $tb-s) {
    height: 12px;
  }
  @media (max-width: $mo-l) {
    height: 10px;
  }
  @media (max-width: $mo-s) {
    height: 4px;
  }
}

.title-effect.fill::after {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0) translateY(-50%);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
}

.title-effect::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  width: 0%;
}

.title-effect.fill::before {
  width: 100%;
  -webkit-transition: width 0.9s 0.8s;
  transition: width 0.9s 0.8s;
}

/*--- loading title effect ---*/
.loading-title-effect {
  z-index: 99;
  overflow: hidden;
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  padding: 20px 10px 0;
  transform: translate(-50%, -50%);
  line-height: 1;
  font-family: 'Prompt';
  font-weight: 700;
  font-size: rem(130px);
  color: #242424;
  letter-spacing: -0.025em;
  &.hide {
    opacity: 0;
  }
  @media (max-width: $tb-l) {
    font-size: rem(125px);
  }
  @media (max-width: $tb-s) {
    font-size: rem(100px);
  }
  @media (max-width: $tb-xs) {
    font-size: rem(80px);
  }
  @media (max-width: $mo-l) {
    text-align: center;
    font-size: rem(70px);
  }
  @media (max-width: $mo-s) {
    font-size: rem(40px);
  }
}
.loading-title-effect.fill {
  color: #000;
}
.loading-title-effect::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #222;
  -webkit-transform: translate3d(101%, 0, 0);
  transform: translate3d(101%, 0, 0);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.6, 0, 0.5, 1);
}
.loading-title-effect.fill::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.loading-title-effect span {
  display: block;
  position: relative;
}
.loading-title-effect span::before {
  content: attr(data-letters);
  position: absolute;
  color: #fff;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: width 1s;
  transition: width 1s;
  // transition-delay: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.5, 1);
  transition-timing-function: cubic-bezier(0.6, 0, 0.5, 1);
}
.loading-title-effect.fill span::before {
  width: 100%;
}

/*--- loading dim ---*/
.loading-dim {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .dim-left,
  .dim-right {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 50%;
    height: 100%;
    background-color: #000;
    transition: 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .dim-left {
    transform: translateX(0%);
  }
  .dim-right {
    transform: translateX(100%);
  }
  &.dimShow {
    .dim-left {
      transform: translateX(-100%);
    }
    .dim-right {
      transform: translateX(200%);
    }
  }
  &.hide {
    display: none;
  }
}
.loading-line {
  position: absolute;
  width: 1px;
  z-index: 10;
  background-color: #fff;
  left: 50%;
  height: 100%;
  transform: translateY(-100%);
  // transition: 0.25s cubic-bezier(0.12, 0.71, 0, 1.01);
  transition: 0.45s cubic-bezier(0.6, 0, 0.5, 1);
}

/*--- mainVisual ---*/
.main-visual-contents {
  .gnb-wrap {
    &.gnbShow {
      animation: gnbAni 0.8s both;
    }
    opacity: 0;
    animation-duration: cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 2;
    transform: translate(-50%, 20px);
    left: 50%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);

    @media (max-width: $tb-xs) {
      height: 48px;
    }
    .list-menu {
      transform: translateY(80%);
      opacity: 0;
      line-height: 1;
      .link-menu {
        color: $white;
        opacity: 0.5;
        font-size: rem(18px);
        @media (max-width: $tb-xs) {
          font-size: rem(16px);
        }
        @media (max-width: $mo-l) {
          font-size: rem(14px);
        }
        &:hover {
          opacity: 1;
        }
      }
      &.active {
        .link-menu {
          position: relative;
          opacity: 1;
          &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: -15px;
            background: #fff;
            @media (max-width: $tb-xs) {
              bottom: -10px;
            }
            @media (max-width: $mo-l) {
              bottom: -11px;
            }
          }
        }
      }
    }
    &.active {
      transform: translate(-50%, 0);
      width: 100%;
      border-radius: 0;
    }
  }
  .main-visual-bg {
    @include size(100%, 100vh);
    @include _background-image('main-visual/main-visual.png');
    background-position: 20% 100%;
    background-size: cover;
    background-attachment: fixed;
    .bg-inner {
      @include size(100%, 100%);
      opacity: 0.4;
    }
    @media (max-width: $mo-s) {
      background-position: 70% 70%;
    }
  }
}

.circle-eff {
  .obj-circle {
    display: block;
    position: absolute;
    img {
      display: block;
      width: 100%;
    }
    &.obj-circle-01 {
      width: 10px;
      top: 228px;
      left: 194px;
      animation: circleMoveEffect_01 20s infinite ease-in-out;
    }
    &.obj-circle-02 {
      width: 16px;
      bottom: 341px;
      left: 379px;
      animation: circleMoveEffect_02 15s infinite ease-in-out;
      @media (max-width: $tb-s) {
        display: none;
      }
    }
    &.obj-circle-03 {
      width: 21px;
      top: 482px;
      left: 663px;
      animation: circleMoveEffect_03 20s infinite ease-in-out;
      @media (max-width: $tb-s) {
        display: none;
      }
    }
    &.obj-circle-04 {
      top: -80px;
      left: 317px;
      width: 300px;
      height: 300px;
      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f6f3ff;
        opacity: 0.4;
        border-radius: 50%;
      }
      &::before {
        display: block;
        transform: scale(0, 0);
        animation: circleMoveEffect_04_scale 10s infinite ease-in-out 1.5s;
      }
      &::after {
        display: none;
      }

      &.after-start {
        &::before {
          display: none;
        }
        &::after {
          display: block;
          animation: circleMoveEffect_04 20s infinite ease-in-out;
        }
      }
      @media (max-width: $tb-s) {
        top: -40px;
        left: 100px;
        width: 200px;
        height: 200px;
      }
    }
    &.obj-circle-05 {
      width: 20px;
      bottom: 348px;
      opacity: 0.7;
      right: 700px;
      animation: circleMoveEffect_05 20s infinite ease-in-out;
    }
    &.obj-circle-07 {
      width: 33px;
      top: 71px;
      right: 310px;
      animation: circleMoveEffect_07 20s infinite ease-in-out;
    }
    &.obj-circle-08 {
      width: 34px;
      bottom: 240px;
      right: 245px;
      animation: circleMoveEffect_08 20s infinite ease-in-out;
    }
    @media (max-width: $mo-l) {
      &.obj-circle-01,
      &.obj-circle-02,
      &.obj-circle-03,
      &.obj-circle-04,
      &.obj-circle-05,
      &.obj-circle-06,
      &.obj-circle-07,
      &.obj-circle-08 {
        display: none;
      }
    }
  }
}

.title-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  @include size(100%, 100vh);
  min-width: 375px;
  overflow: hidden;
  .main-title {
    font-size: rem(160px);
    font-family: 'Prompt';
    font-weight: 700;
    letter-spacing: 8px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    @media (max-width: $tb-s) {
      font-size: rem(120px);
    }
    @media (max-width: $mo-l) {
      text-align: center;
      font-size: rem(70px);
    }
    @media (max-width: $mo-s) {
      font-size: rem(50px);
    }
  }
}

.scroll-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
  opacity: 0;
  transition: 1s;
  &.show {
    opacity: 1;
  }
  .icon-mouse {
    animation: scrollIcon 0.5s infinite alternate linear;
  }
}

/*--- About ---*/
.about-contents {
  padding: 80px 0 80px 80px;
  @media (max-width: $mo-l) {
    padding: 100px 24px 40px;
  }
}
.intro-wrap {
  display: flex;
  justify-content: space-between;
  @media (max-width: $tb-xs) {
    flex-direction: column-reverse;
  }
  .container-section {
    width: 50%;
    word-break: keep-all;
    @media (max-width: $tb-xs) {
      width: 100%;
    }
    .about-info-text {
      opacity: 0;
      transform: translateX(-200px);
      @media (max-width: $tb-xs) {
        margin-top: 40px;
      }
      @media (max-width: $mo-s) {
        margin-left: 0;
      }
      .info-about {
        margin-top: 40px;
        font-size: rem(19px);
        line-height: 1.95;
        color: #dedede;
        letter-spacing: -0.2px;
        @media (max-width: $tb-s) {
          font-size: rem(16px);
        }
        @media (max-width: $mo-l) {
          margin-top: 20px;
          word-break: keep-all;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .profile-img {
    @include size(700px, 525px);
    @media (max-width: $tb-l) {
      @include size(450px, 338px);
    }
    @media (max-width: $tb-s) {
      @include size(360px, 270px);
    }
    @media (max-width: $mo-s) {
      @include size(100%, 100%);
    }
  }
}

.mask-image-animation {
  overflow: hidden;
  position: relative;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    @include size(100%);
    background-color: #1a1a1a;
    &.left {
      transform-origin: left;
    }
    &.right {
      transform-origin: right;
    }
  }
}

/*--- Career ---*/
.career-contents {
  padding: 80px;
  @media (max-width: $mo-l) {
    padding: 120px 24px 40px;
  }
}
.section-inner {
  overflow: hidden;
  padding: 60px 0 40px;
  opacity: 0;
  transform: translateY(60px);
  transition: 1.5s;
  @media (max-width: $mo-l) {
    margin-left: 24px;
    padding: 30px 0 0;
  }
  @media (max-width: $mo-s) {
    margin-left: 0;
    padding: 0;
  }
  .career-lists {
    display: flex;
    margin-bottom: 40px;
    @media (max-width: $mo-l) {
      flex-direction: column;
    }
  }
  .period {
    margin-right: 100px;
    font-weight: 500;
    font-size: rem(20px);
    color: #dedede;
    @media (max-width: $tb-xs) {
      width: 30%;
      margin-right: 0;
      font-size: rem(18px);
    }
    @media (max-width: $mo-l) {
      width: 100%;
      margin-bottom: 14px;
      font-size: rem(16px);
    }
  }
  .article {
    @media (max-width: $tb-xs) {
      width: 70%;
    }
    @media (max-width: $mo-l) {
      width: 100%;
      padding-left: 24px;
    }
    .company {
      font-size: rem(25px);
      color: #fff;
      @media (max-width: $tb-xs) {
        font-size: rem(22px);
      }
      @media (max-width: $mo-l) {
        font-size: rem(20px);
      }
    }
    .sub-text {
      margin-top: 8px;
      font-size: rem(16px);
      color: #ccc;
      @media (max-width: $tb-xs) {
        margin-top: 0;
      }
      @media (max-width: $mo-l) {
        font-size: rem(15px);
      }
    }
    .info-text {
      margin-top: 20px;
      @media (max-width: $tb-xs) {
        margin-top: 16px;
      }
      @media (max-width: $mo-l) {
        margin-top: 24px;
      }
      li {
        margin-top: 6px;
        font-size: rem(16px);
        color: #999;
        @media (max-width: $mo-l) {
          word-break: keep-all;
          font-size: rem(14px);
        }
        @media (max-width: $mo-s) {
          line-height: 1.8;
        }
      }
    }
  }
}

/*--- Portfolio ---*/
.portfolio-contents {
  position: relative;
  padding: 80px 0;
  .title-menu {
    margin-left: 20px;
    padding-bottom: 80px;
  }
  .portfolio-section {
    margin-top: -40px;
    @media (max-width: $mo-l) {
      margin-top: 0;
    }
  }
}
.project-wrap {
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    width: 60px;
    height: 60px;
    font-size: rem(16px);
    border: 2px solid $white;
    border-radius: 50%;
    background-color: $white;
    @media (max-width: $mo-l) {
      width: 44px;
      height: 44px;
      font-size: rem(12px);
    }
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 0;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    // right: 40px;
    // margin-top: 40px;
    right: 50%;
    margin-top: 40px;
    margin-right: -600px;

    @media (max-width: $tb-l) {
      right: 40px;
      margin-right: 0;
    }
    @media (max-width: $mo-l) {
      // right: 20px;
      margin-top: 0px;
    }
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    // left: 40px;
    // margin-top: 40px;
    left: 50%;
    margin-top: 40px;
    margin-left: -600px;
    @media (max-width: $tb-l) {
      left: 40px;
      margin-left: 0;
    }
    @media (max-width: $mo-l) {
      // left: 20px;
      margin-top: 0px;
    }
  }
}
.slider-contents {
  .swiper-slide {
    transform: scale(0.7);
    opacity: 0.6;
    transition: all 0.8s ease-in-out;
    width: 996px !important;
    padding: 40px 0;
    @media (max-width: $tb-s) {
      width: 700px !important;
    }
    @media (max-width: $tb-xs) {
      width: 560px !important;
    }
    @media (max-width: $mo-l) {
      width: 420px !important;
    }
    @media (max-width: $mo-s) {
      width: 360px !important;
    }
    &.active {
      transform: scale(1);
      opacity: 1;
      .project-title {
        transform: translateY(0);
        transition-duration: 1s;
        opacity: 1;
      }
      .inner-contents {
        opacity: 0.7;
        transition-delay: 0.8s;
      }
    }
    .project-title {
      position: relative;
      z-index: -1;
      font-size: rem(120px);
      font-weight: 600;
      color: #e2e2e2;
      line-height: 1;
      text-align: center;
      opacity: 0;
      transform: translateY(60%);
      transition-duration: 1s;
      @media (max-width: $tb-s) {
        font-size: rem(100px);
      }
      @media (max-width: $tb-xs) {
        font-size: rem(84px);
      }
      @media (max-width: $mo-l) {
        font-size: rem(62px);
      }
      @media (max-width: $mo-s) {
        font-size: rem(48px);
      }
    }
  }
  .pj-box {
    width: 100%;
    height: 619px;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $tb-s) {
      width: 700px;
      height: 479px;
    }
    @media (max-width: $tb-xs) {
      width: 560px;
      height: 383px;
    }
    @media (max-width: $mo-l) {
      width: 420px;
      height: 288px;
    }
    @media (max-width: $mo-s) {
      width: 360px;
      height: 246px;
    }
  }
}
.project-contents {
  position: relative;
}
.inner-contents {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: #000;
  transition: opacity 1s;
  .project-text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    .pj-text {
      padding-top: 100px;
      line-height: 32px;
      color: $white;
      font-size: rem(18px);
      text-align: center;
      @media (max-width: $tb-xs) {
        padding-top: 50px;
        font-size: rem(16px);
      }
      @media (max-width: $mo-l) {
        padding-top: 20px;
        line-height: 24px;
        font-size: rem(14px);
      }
      @media (max-width: $mo-s) {
        line-height: 22px;
        font-size: rem(12px);
      }
    }
    .btn-more {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 70px;
      border-radius: 40px;
      border: 2px solid $white;
      font-size: rem(24px);
      font-family: 'Prompt';
      font-weight: 400;
      color: $white;
      cursor: pointer;
      animation: BtnEffect 0.7s infinite alternate linear;
      @media (max-width: $tb-s) {
        width: 180px;
        height: 60px;
        font-size: rem(20px);
      }
      @media (max-width: $tb-xs) {
        width: 100px;
        height: 42px;
        font-size: rem(16px);
      }
      @media (max-width: $mo-l) {
        width: 88px;
        height: 36px;
        font-size: rem(14px);
      }
      @media (max-width: $mo-s) {
        width: 78px;
        height: 30px;
        font-size: rem(12px);
        border: 1px solid $white;
      }
      &:hover {
        background-color: $white;
        color: #000;
      }
    }
  }
}

.project-image01 {
  @include _background-image('project/project-image01.png');
}
.project-image02 {
  @include _background-image('project/project-image02.png');
}
.project-image03 {
  @include _background-image('project/project-image03.png');
}
.project-image04 {
  @include _background-image('project/project-image04.png');
}
.project-image05 {
  @include _background-image('project/project-image05.png');
}
.project-image06 {
  @include _background-image('project/project-image06.png');
}
.project-image07 {
  @include _background-image('project/project-image07.png');
}

/*--- portfolio popup ---*/
.full-screen-area {
  visibility: hidden;
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 375px;
  &.active {
    visibility: visible;
    .dim-effect {
      pointer-events: auto;
      visibility: visible;
      .inner-dim-effect {
        transform: scale(1);
        transition-duration: 0.75s;
      }
      @media (max-width: $mo-s) {
        transform: scale(2);
      }
    }
  }
  .dim-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner-dim-effect {
      width: 200vw;
      height: 200vw;
      color: #fefefe;
      background-color: rgba(3, 3, 3, 1);
      border-radius: 50%;
      transition: all 0.4s ease;
      flex: none;
      transform: scale(0);
      backface-visibility: hidden;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.wrap-contents-container {
  overflow: auto;
  max-height: 100%;
}
.wrap-contents {
  position: relative;
  z-index: 10;
  display: none;
  &.active {
    display: block;
  }
}

// project popup
.project-section {
  display: flex;
  @media (max-width: $tb-xs) {
    flex-direction: column;
  }
  .left-area {
    transform: translateX(-100%);
    width: 60%;
    padding: 60px;
    transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
    &.active {
      transform: translateX(0);
    }
    @media (max-width: $tb-l) {
      padding: 60px 40px;
    }
    @media (max-width: $tb-xs) {
      width: 100%;
    }
    @media (max-width: $mo-l) {
      padding: 60px 24px;
    }
    .pj-image {
      width: 100%;
      border-radius: 30px;
      box-shadow: 3px 2px 15px 2px $gray_10;
    }
    .pj-title {
      font-size: rem(30px);
      padding-bottom: 20px;
      color: $gray_60;
      @media (max-width: $mo-l) {
        font-size: rem(26px);
      }
    }
  }
  .right-area {
    position: sticky;
    top: 0;
    left: 0;
    align-self: flex-start;
    transform: translateX(100%);
    transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0.2s;
    width: 40%;
    padding: 60px 100px;
    &.active {
      transform: translateX(0);
    }
    @media (max-width: $tb-l) {
      padding: 60px 40px;
    }
    @media (max-width: $tb-xs) {
      width: 100%;
    }
    @media (max-width: $mo-l) {
      padding: 60px 24px;
    }
  }
}

.btn-popup {
  position: fixed;
  z-index: 1;
  right: 40px;
  top: 40px;
  transform: translateX(80px);
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-delay: 0.2s;

  @media (max-width: $tb-xs) {
    padding: 10px;
    right: 20px;
    top: 20px;
  }
  &.active {
    transform: translateX(0);
  }
  .icon-x {
    @include _background-image('icon/icon-close-w-24x24.png');
    @include size(36px, 36px);
    background-size: 100%;
    @media (max-width: $tb-xs) {
      @include size(24px, 24px);
      // @include _background-image('icon/icon-close-bk-24x24.png');
    }
  }
}

.detail-title {
  display: inline-block;
  font-family: 'Prompt';
  font-size: rem(36px);
  font-weight: 700;
  margin-bottom: 60px;
  color: $gray_60;
  letter-spacing: 1px;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 2px;
    background-color: $gray_60;
  }
}

.project-desc {
  margin-top: 60px;
  margin-bottom: 150px;
  @media (max-width: $tb-xs) {
    margin: 0;
  }
  .work-desc-box {
    margin-bottom: 50px;
  }
  .sub-title-area {
    position: relative;
    margin-bottom: 10px;
    font-size: rem(20px);
    font-weight: 600;
    color: $gray_60;
    align-items: center;
  }
  .icon-link {
    display: inline-block;
    @include _background-image('icon/icon-arrow-w-61x11.png');
    @include size(125px, 24px);
    margin-left: 10px;
    background-size: 100%;
    @media (max-width: $tb-xs) {
      @include size(92px, 18px);
    }
  }
  .sub-text-desc {
    font-size: rem(16px);
    font-weight: 300;
    line-height: 26px;
    color: $gray_60;
    word-break: keep-all;
  }
}

/*--- Contact ---*/
.contact-contents {
  padding: 80px;
  @media (max-width: $mo-l) {
    padding: 120px 24px 40px;
  }
  @media (max-width: $mo-s) {
    padding-top: 60px;
  }
  .contact-section {
    margin-top: 80px;
    padding-bottom: 300px;
    @media (max-width: $mo-l) {
      margin-top: 20px;
      padding-bottom: 120px;
    }
    @media (max-width: $mo-s) {
      padding-bottom: 80px;
    }
    .info-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .pr-text {
        font-size: rem(34px);
        letter-spacing: 2px;
        word-break: keep-all;
        text-align: center;
        color: $white;
        @media (max-width: $tb-s) {
          font-size: rem(30px);
        }
        @media (max-width: $mo-l) {
          font-size: rem(22px);
        }
        @media (max-width: $mo-s) {
          font-size: rem(18px);
          letter-spacing: 1px;
        }
      }
      .contact-box {
        display: flex;
        margin-top: 160px;
        @media (max-width: $mo-l) {
          margin-top: 80px;
        }
        @media (max-width: $mo-s) {
          margin-top: 60px;
        }
        .link-contact {
          display: flex;
          justify-content: center;
          align-items: center;
          @include size(130px, 82px);
          margin: 0 30px;
          border-radius: 20px;
          background-color: #979ba8;
          font-size: rem(24px);
          font-weight: 700;
          color: $white;
          &:hover {
            background-color: $white;
            color: #979ba8;
          }
          @media (max-width: $mo-l) {
            @include size(100px, 60px);
            font-size: rem(20px);
          }
          @media (max-width: $mo-s) {
            @include size(80px, 50px);
            font-size: rem(18px);
          }
        }
      }
    }
  }
}

@keyframes scrollIcon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
@keyframes BtnEffect {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
@keyframes gnbAni {
  0% {
    opacity: 1;
    @include size(40px);
    border-radius: 50%;
  }
  25% {
    @include size(80px);
  }
  50% {
    @include size(60px);
    border-radius: 50%;
  }
  70% {
    border-radius: 25px;
  }
  100% {
    opacity: 1;
    width: 80%;
    height: 60px;
    border-radius: 50px;
  }
}
@keyframes circleMoveEffect_01 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-70px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes circleMoveEffect_02 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(40px, 88px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes circleMoveEffect_03 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(120px, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes circleMoveEffect_04 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(32px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(32px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes circleMoveEffect_04_scale {
  0% {
    transform: scale(0, 0);
  }
  44% {
    transform: scale(1, 1);
  }
}
@keyframes circleMoveEffect_05 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-84px, 38px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes circleMoveEffect_07 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(70px, 70px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes circleMoveEffect_08 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(70px, 70px);
  }
  100% {
    transform: translate(0);
  }
}
