@font-face {
  font-family: 'Prompt';
  font-style: Regular;
  font-weight: 400;
  src: url('../fonts/Prompt-Regular.woff') format('woff'), url('../fonts/Prompt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/Prompt-Bold.woff') format('woff'), url('../fonts/Prompt-Bold.ttf') format('truetype');
}
